<h1 align="center">All Articles</h1>
<p align="center"><%= link_to 'Create new Article', new_article_path, class: "btn btn-sm btn-success" %> </p>

    
    <% @articles.each do |article| %>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="well well-lg">
                <div class="article-title">
                   <%= link_to article.title, article_path(article) %>
                </div>
                
                <div class="article-description">
                    <%= article.description %>
                </div>
                <div class="article-actions">
                    
                    <%= link_to 'Edit this Article', edit_article_path(article), class: "btn btn-sm btn-primary" %> <!--we dont need @article here because in de each do method we set the var to 'article' -->
                    <%= link_to 'Delete this Article', article_path(article), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-sm btn-danger" %>
                </div>
            </div>
            
            
            
            
            
                    
               
                    
               
                    
             
        </div>
        
        
    </div>
    
    <%end%>
